$color-font: #404040;
$color-font-muted: #777;
$color-font-light: #fafafa;

$color-success: #36a855;
$color-warning: #fbbc07;
$color-danger: #eb6357;
$color-info: #4582c2;

$bg-color: #fafafa;
$bg-color-white: #fff;

$border-color: '#d9d9d9'; 