<div class="panel">
    <div class="panel-heading d-flex space-between">
        <div>
            Financial status of companies.
            <span class="panel-subtitle">Some financial data of some companies.</span>
        </div>
        <div>
            <input type="text" [(ngModel)]="searchText" (keyup)="search($event)" placeholder="search...">
        </div>
    </div>
    <div class="panel-body">
        <div class="list companies">
            <div class="list-header">
                <div class="column id">
                    <span class="{{ getSortingClass('id') }}" (click)="sort('id')">Id</span>
                </div>
                <div class="column name">
                    <span class="{{ getSortingClass('name') }}" (click)="sort('name')">Name</span>
                </div>
                <div class="column city">
                    <span class="{{ getSortingClass('city') }}" (click)="sort('city')">City</span>
                </div>
                <div class="column total">
                    <span class="{{ getSortingClass('totalIncome') }}" (click)="sort('totalIncome')">Total income</span>
                </div>
                <div class="column avg">
                    <span class="{{ getSortingClass('averageIncome') }}" (click)="sort('averageIncome')">Avg. income</span>
                </div>
                <div class="column last-month">
                    <span class="{{ getSortingClass('lastMonthIncome') }}" (click)="sort('lastMonthIncome')">Last month income</span>
                </div>
            </div>
            <div class="list-content">
                <div class="loading" *ngIf="(isLoading$ | async)">Loading...</div>
                <app-company-list-item class="list-row" [company]="company" *ngFor="let company of (companies$ | async)"></app-company-list-item>
            </div>
            <div class="list-pagination">
                <ul>
                    <li *ngFor="let page of (paging$ | async)?.pages">
                        <button class="btn" [ngClass]="{'active': currentPage === page}" (click)="setPage(page)">
                            {{ page }}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>