.panel {
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.04);
    border-radius: 3px;

    &-heading {
        font-size: $font-size + 3px;
        font-weight: 300;
        padding: 20px 20px 10px;
        border-radius: 3px 3px 0 0;
    }

    &-subtitle {
        display: block;
        font-size: $font-size - 1px;
        color: $color-font-muted;
        margin-bottom: 6px;
    }

    &-body {
        border-radius: 0 0 3px 3px;
        padding: 0 20px;
    }
}